// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

.card {
  border: 3.25rem solid #d3d3d3;
  border-radius: 5px;
  padding: 2.5rem;
  width: 51.5%;

}

.outer-profile {
  float: left;
  & h1, h2 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 12px;
    color: darken($gray, 50%);
  }
  & h2 {
    font-weight: 100;
    font-style: italic;
    font-size: 16px;
    margin-top: 4px;
    letter-spacing: 0.5px;
  }
}

.inner-profile {
  background-color: $gray;
  padding: 2rem;
  padding-bottom: 1rem;
  width: 66%;
  text-align: left;
  margin-left: 260px;
  & p, h3 {
    color: darken($gray, 55%);
    margin: 0;
    margin-bottom: 1.5rem;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0.5px;
  }
  & p {
    margin-top: 3px;
  }
  & #linkedin-text {
    margin-top: 12px;
    color: $darker;
  }
  & .logo {
    margin-top: 8px;
    margin-right: 0.25rem;
  }
}

.headshot {
  height: 230px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-bottom: 1rem;
}
