// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

.card {
  border: 3.25rem solid darken($gray, 15%);
  border-radius: 5px;
  padding: 3rem;
  width: 50%;

}

.outer-profile {
  float: left;
  margin-right: 2rem;
  & h1, h3 {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 2rem;
  }
}

.inner-profile {
  background-color: $gray;
  display: grid;
  grid-template-columns: auto auto;
  padding: 2rem;
  & p, h3 {
    color: darken($gray, 50%);
    margin: 0;
    margin-bottom: 1rem;
  }
  & p {
    margin-top: 3px;
  }
}

.headshot {
  height: 230px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-bottom: 1rem;
}
